trigger:
- master

pr:
- master

jobs:
- job: CodeCheck
  pool:
    vmImage: 'ubuntu-16.04'
  steps:
  - script: npm install
    displayName: Install dependencies

  - script: npm test || true
    displayName: Jest

  - task: PublishTestResults@2
    displayName: Publish Static Test Results
    inputs:
      testResultsFormat: 'JUnit'
      testResultsFiles: 'junit.xml'
      testRunTitle: 'Static Test Results'
      mergeTestResults: true
  
  - task: PublishTestResults@2
    displayName: Publish Jest Test Results
    inputs:
      testResultsFormat: 'JUnit'
      testResultsFiles: 'jest-junit.xml'
      testRunTitle: 'Jest Test Results'
      mergeTestResults: true
